body {
        background-color: #D9BEA7;
        font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #733E32;
    color: #F2C094;
    text-align: center;
    font-weight: bolder;
}

h2 {
    text-align: left;
    color: #8C2B07;
}

p {
    text-align: left;
}

.autor {
    text-align: right;
    background-color: #D97B29;
}

.separador {
    text-align: center;
    color: #8C2B07;
}

button {
    background-color: #733E32;
    color: #F2C094;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

button:active {
    background-color: #D97B29;
    transform: scale(0.95);
}